@mixin center($type: 'both'){

    display: flex;
    
    @if $type == 'justify'{
      justify-content: center;
    } @else if $type == 'align'{
      align-items: center;
    } @else if $type == 'both'{
      align-items: center;
      justify-content: center;
    } @else if $type == 'sinistra'{
        align-items: center;
        justify-content: flex-start;
    } @else if $type == 'destra'{
        align-items: center;
        justify-content: flex-end;
    } @else if $type == 'between'{
        align-items: center;
        justify-content: space-between;
    }@else if $type == 'around'{
        align-items: center;
        justify-content: space-around;
    }

}